<ng-container *ngIf="headerData?.blocks.length">
    <div class="card-header">
        <ng-container *ngFor="let block of headerData.blocks">
            <div *ngIf="block?.blockType == CONSTANTS.BLOCK_TYPE_IMAGE" class="image-section">
                <div class="image-container">
                    <img [src]=block.blockUrl>
                </div>
            </div>
            <div *ngIf="block?.blockType == CONSTANTS.BLOCK_TYPE_SESSION" class="stats">
                <p class="figures">{{block.blockText}}</p>
                <p class="title">{{block.blockSubText}}</p>
            </div>
            <div *ngIf="block?.blockType == CONSTANTS.BLOCK_TYPE_CHART" class="chart">
                <div class="image-container">
                    <img src="assets/images/donut_chart.png">
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>