.card-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.image-section, .stats, .chart {
    flex: 1;
    height: 100%;
    padding: 3px;
}

.image-section {
    img {
        width: 100%;
        height: 100%;
    }
}

.stats {
    color: darkgrey;
    .figures, .title {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .figures {
        text-align: center;
        height: 80%;
        font-weight: 500;
        font-size: 4.2rem;
    }
    .title {
        text-align: center;
        height: 20%;
        font-size: 22px;
    }
}

.chart {
    text-align: center;
    img {
        margin: auto;
        width: 70%;
        height: 100%;
    }
}

@media (max-width: 1090px) {
    .stats {
        .figures {
            font-size: 3.8rem;
        }
    }
}

@media (max-width: 930px) {
    .card-header {
        flex-direction: column;
    }
    .stats {
        height: 120px;
        margin-bottom: 30px;
    }
    .image-section, .chart {
        img {
            max-width: 100%;
            height: auto;
        }
    }
}