.global-header {
    z-index: 10;
    width: 100%;
    height: 7%;
    background-color: white;
    display: flex;
    justify-content:space-between;
    text-align: center;
    -webkit-box-shadow: 0px 3px 12px 2px rgba(189,189,189,1);
    -moz-box-shadow: 0px 3px 12px 2px rgba(189,189,189,1);
    box-shadow: 0px 3px 12px 2px rgba(189,189,189,1);
}

.left-section, .middle-section, .right-section {
    flex: 1;
}