<div class="dashboard-core-container">
    <div class="state-selector">
        <angular-material-filter-dropdown 
            [dropdownList]="['hello', 'world']" 
            (selected)="triggerStateSelect($event)">
        </angular-material-filter-dropdown>
    </div>
    <ng-container *ngIf="serverStats?.length">
        <div class="generic-cards-container">
            <dashboard-stats-viewer [stats]="serverStats"></dashboard-stats-viewer>
        </div>
    </ng-container>
    <ng-container *ngIf="serverCards?.length">
        <ng-container *ngFor="let card of serverCards">
            <div class="cards-container">
                <dashboard-card [cardData]="card"></dashboard-card>
            </div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!serverCards?.length">
        <shared-loader></shared-loader>
    </ng-container>
</div>