.toggler, .logo {
    display: flex;
    justify-items: center;
    float: left;

}

.toggler {
    height: 100%;
    .toggle-button {
        cursor: pointer;
        width: 50px;
        background-color: transparent;
        padding: 3px;
        font-size: 20px;
        color: black;
        outline: transparent;
        border: transparent;
    }
}

.logo {
    padding: 15px 0 15px 10px;
}