.card-body {
    width: 100%;
    height: 100%;
    padding-top: 12px;
}

.question-container {
    width: 100%;
    font-size: 20px;
    margin: 0;
    color: rgb(104, 104, 104);
}

.block-container {
    color: white;
    display: flex;
    justify-content: stretch;
    height: 90%;
    .block-1, .block-2, .block-3 {
        flex: 1;
        margin: 1px;
        height: 100%;
        display: flex;
        flex-direction: column;
        .block-title {
            padding: 100px 0 50px 0;
            text-align: center;
            font-size: 2.7rem;
            
        }
        .block-text {
            padding: 20px 10px;
            word-break: break-all;
            font-size: 1.2rem;
            line-height: 1.3;
        }
        .accuracy-indicator {
            align-self: baseline;
            width: 100%;
            margin-top: 70px;
            font-size: 3rem;
            text-align: center;
            p {
                margin: 0;
                display: inline;
            }
            span {
                font-size: 1.6rem;
                margin-left: 8px;
            }
        }
        .view-more {
            text-align: right;
            padding-right: 10px;
            .vmBtn {
                cursor: pointer;
                display: inline;
                padding: 10px;
                border: transparent;
                outline: transparent;
                color: black;
                background-color: transparent;
                &:hover {
                    color: white;
                    background-color: black;
                    transition: .4s;
                    border-radius: 5px;
                }
            }
        }
    }
    
    .block-1 {
        background-color: #f2bf5e;
    }
    
    .block-2 {
        background-color: #4bb0b8;
    }
    
    .block-3 {
        background-color: #536eb7;
    }
}