<ng-container *ngIf="bodyData">
    <div class="card-body">
        <div *ngIf="bodyData.question" class="question-container">
            <p class="text">{{bodyData.question}}</p>
        </div>
        <div *ngIf="bodyData?.cards.length" class="block-container">
            <ng-container *ngFor="let card of bodyData.cards; let i = index">
                <div [class]="'block-' + (i+1)">
                    <p *ngIf="card?.title_text" class="block-title">
                        {{card.title_text}}
                    </p>
                    <p *ngIf="card?.body_text" class="block-text">
                        {{card.body_text}}
                    </p>
                    <div *ngIf="card?.view_more_link" class="view-more">
                        <button class="vmBtn">View More...</button>
                    </div>
                    <div *ngIf="card?.percentage" class="accuracy-indicator">
                        <p *ngIf="card.percentage?.accuracy" class="percentage">{{card.percentage.accuracy}}%</p>
                        <span
                            [matTooltip]="card.percentage?.placeholder || 'This represents the overall accuracy of section'"
                            [matTooltipPosition]="'after'">
                            <fa-icon [icon]="icons?.faInfoCircle"></fa-icon>
                        </span>
                    </div>
                </div>
            </ng-container>

        </div>

    </div>
</ng-container>