.card-body {
    width: 100%;
    height: 100%;
    padding-top: 12px;
}

.question-container {
    width: 100%;
    font-size: 20px;
    margin: 0;
    color: rgb(104, 104, 104);
    display: flex;
    .question-text {
        flex: 4;
        font-size: 2rem;
        text-align: center;
        align-self: center;
        line-height: 1.2;
        p {
            margin: 0;
        }
    }
    .chart-container {
        flex: 1;
        .chart-wrapper {
            max-width: 80%;
            margin: auto;
        }
    }
    margin-bottom: 20px;
}

.block-container {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: 90%;
    .block-1, .block-2, .block-3, .block-chart {
        flex: 1;
        margin: 1px;
        height: 100%;
        display: flex;
        flex-direction: column;
        .block-title {
            padding: 100px 0 50px 0;
            line-height: 1;
            text-align: center;
            font-size: 2.7rem;
            height: 10%;
            
        }
        .block-text {
            padding: 20px 10px;
            word-break: break-all;
            font-size: 1.2rem;
            line-height: 1.2;
            height: 20%;
        }
        .accuracy-indicator {
            align-self: baseline;
            width: 100%;
            margin-top: 70px;
            font-size: 3rem;
            text-align: center;
            p {
                margin: 0;
                display: inline;
            }
            span {
                cursor: pointer;
                font-size: 1.6rem;
                margin-left: 8px;
            }
        }
        .view-more {
            text-align: right;
            padding-right: 10px;
            .vmBtn {
                cursor: pointer;
                display: inline;
                padding: 10px;
                border: transparent;
                outline: transparent;
                color: black;
                background-color: transparent;
                &:hover {
                    color: white;
                    background-color: black;
                    transition: .4s;
                    border-radius: 5px;
                }
            }
        }
    }
    
    .block-1 {
        background-color: #f2bf5e;
    }
    
    .block-2 {
        background-color: #4bb0b8;
    }
    
    .block-3 {
        background-color: #536eb7;
    }

    .block-chart {
        background-color: lightpink;
    }
}

@media (max-width: 1500px) {
    .block-container {
        .accuracy-indicator {
            margin: 20px 0;
        }
    }
}

@media (max-width: 930px) {
    .question-container {
        display: block;
        .question-text {
            margin: 30px auto;
        }
        .chart-container {
            img {
                width: 100%;
            }
        }
    }
    .block-container {
        flex-direction: column;
        .accuracy-indicator {
            margin: 30px 0;
        }
    }
}