.global-sidebar-container {
    height: 100%;
    .global-sidenav {
        background-color: black;
        width: 150px;
        .tabs {
            color: white;
            .tab-list {
                list-style: none;
                .tab-item {
                    height: 80px;
                    button {
                        display: flex;
                        color: white;
                        align-items: center;
                        text-align: center;
                        justify-items: center;
                        width: 100%;
                        height: 100%;
                        border: transparent;
                        background-color: transparent;
                        padding-left: 15px;
                        cursor: pointer;
                        fa-icon {
                            font-size: 25px;
                        }
                        &:hover {
                            background-color: #79c143;
                            transition: .4s;
                            color: white;
                        }
                        span {
                            padding-left: 10px;
                        }
                    }
                }
                .tab-item.active {
                    background-color: #79c143;
                    color: white;
                }
            }
        }
    }
}   