<!-- <shared-global-sidebar></shared-global-sidebar> -->
<mat-sidenav-container class="global-sidebar-container">
    <mat-sidenav #sidenav [mode]="'over'" class="global-sidenav">
        <div class="logo">
            <img src="assets/images/logo.png">
        </div>
        <div class="tabs">
            <ul class="tab-list">
                <li class="tab-item" [ngClass]="{'active': currentRoute('dashboard')}">
                    <button class="toggle-button">
                        <fa-icon [icon]="icons?.faTachometerAlt"></fa-icon><span>Dashboard</span>
                    </button>
                </li>
                <li class="tab-item" [ngClass]="{'active': currentRoute('settings')}">
                    <button class="toggle-button">
                        <fa-icon [icon]="icons?.faTools"></fa-icon><span>Settings</span>
                    </button>
                </li>
            </ul>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <shared-header (toggleClicked)="sidenav.toggle()"></shared-header>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>