.dashboard-card {
    height: 500px;
    max-width: 70%;
    margin: auto;
    margin-bottom: 50px;
    mat-card {
        height: 100%;
        .dashboard-card-header {
            width: 100%;
            height: 25%;
        }
        .dashboard-card-body {
            width: 100%;
            height: 75%;
        }
    }
}