.dashboard-card {
    min-height: 500px;
    max-width: 90%;
    margin: auto;
    margin-bottom: 50px;
    padding: 5px 0;
    mat-card {
        height: 100%;
        .dashboard-card-header {
            width: 100%;
            height: 25%;
        }
        .dashboard-card-body {
            width: 100%;
            height: 75%;
        }
    }
}

@media (max-width: 1160px) {
    .dashboard-card {
        max-width: 80%;
    }
}

@media (max-width: 930px) {
    .dashboard-card {
        height: auto;
    }
}