<form class="material-dropdown-form">
  <mat-form-field class="material-dropdown-full-width">
    <input type="text" 
           placeholder="Select one State"
           matInput
           [formControl]="materialDropdownControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="submitSelectedValue($event)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>